<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>VAXSPACE</title>

    <!-- Custom fonts for this template-->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/alert.css' %}" rel="stylesheet">

</head>

<body class="bg-gradient-primary">
    {% include 'vaxapp/messages.html' %}
    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    
                    <div class="col-lg-7 d-flex align-items-center justify-content-center mx-auto">
                        <div class="p-5">
                 
                    
                                <div class="modal-content">
                                    <div class="modal-header bg-gradient-info">
                                    <h5 class="modal-title text-gray-100" id="addvaccineTitle">ADD NEW VACCINE</h5>
                                   
                                    </div>
                                    <div class="modal-body">
                                        <form method="POST" action="">
                                            {% csrf_token %}
                                            <div style="text-align:center" class="row">
                                                <div class="col">  
                                                    <label for="vaxname">Vaccine name:</label>
                                                    <input type="text" id="vaxname" name="name" placeholder="Input new vaccine" required>
                                                </div>
                                                <div class="col">  
                                                    <label for="desc">Description of vaccine:</label>
                                                    <input type="text" id="desc" name="description" placeholder="Add a description">
                                                </div>
                                                <div class="col">  
                                                    <label for="dose1">First dose:</label>
                                                    <input type="checkbox" id="chk1" name="chk1" onclick="toggleInput('dose1')" value="True">
                                                    <input type="number" id="dose1" name="recommended_age1" placeholder="Input days old" disabled required>
                                                </div>
                                                <div class="col">  
                                                    <label for="dose2">Second dose:</label>
                                                    <input type="checkbox" id="chk2" name="chk2" onclick="toggleInput('dose2')" value="True">
                                                    <input type="number" id="dose2" name="recommended_age2" placeholder="Input days old" disabled>
                                                </div>
                                                <div class="col">  
                                                    <label for="dose3">Third dose:</label>
                                                    <input type="checkbox" id="chk3" name="chk3" onclick="toggleInput('dose3')" value="True">
                                                    <input type="number" id="dose3" name="recommended_age3" placeholder="Input days old" disabled>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <a class="btn btn-danger small" href="{% url 'vaxapp:index' %}">Back</a>
                                                <input type="submit" class="btn btn-primary" value="Add">
                                            </div>
                                        </form>
                                    </div>
                                    
                                </div>
                            
                           
                            <hr>
                        
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

    <!-- Bootstrap's built-in JS for dismissing alerts with fade -->
<script src="{% static 'js/alert.js' %}"></script>
<script>
    function toggleInput(inputId) {
        var checkbox = document.getElementById('chk' + inputId.slice(-1)); // Extract the checkbox element
        var inputField = document.getElementById(inputId); // Get the corresponding input field

        if (checkbox.checked) {
            inputField.disabled = false; // Enable the input field if the checkbox is checked
        } else {
            inputField.disabled = true; // Disable the input field if the checkbox is unchecked
        }
    }
</script>
</body>

</html>