<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/vaxspace_logo.png' %}">

    <title>VAXSPACE</title>

    <!-- Custom fonts for this template -->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/sb-admin-2.min.css '%}" rel="stylesheet">
    <link href="{% static 'css/alert.css' %}" rel="stylesheet">
    <!-- Custom styles for this page -->
    <link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">

</head>

<body id="page-top">
    {% include 'vaxapp/messages.html' %}
    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
                <div class="sidebar-brand-icon">
                    <img style="width:100%" src="{% static 'img/main_logo.png' %}">
                </div>
                <div class="sidebar-brand-text mx-3">VAXSPACE</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item">
                <a class="nav-link" href="{% url 'vaxapp:index' %}">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">


            <!-- Heading -->
            <div class="sidebar-heading">
                Menu
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            

            <!-- Nav Item - Charts -->
            <li class="nav-item">
                <a class="nav-link" href="{% url 'vaxapp:charts' %}">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>Charts</span></a>
            </li>

            <!-- Nav Item - Tables -->
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'vaxapp:admin_tables' %}">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Records</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <form class="form-inline">
                        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                            <i class="fa fa-bars"></i>
                        </button>
                    </form>

                   

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                            placeholder="Search for..." aria-label="Search"
                                            aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>

                     

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{% if user.is_authenticated %}
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Welcome, {{ user.username }}</span>
                                {% else %}
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Unauthaurized user</span>
                                {% endif %}
                                <img class="img-profile rounded-circle"
                                    src="{% static 'img/undraw_profile.svg' %}">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#adminmodal">       
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profile
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-4 text-gray-800">Records</h1>
                   
                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Children's records</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <div id="checkboxContainer" class="form-group">
                                        <label>Filter by Barangay: </label>
                                        {% for barangay in barangay_list %}
                                     
                                            <input type="checkbox" class="filterCheckbox" value="{{ barangay }}"> {{ barangay }}
                                 
                                        {% endfor %}
                                    </div>
                                    <thead>
                                        <tr>
                                            <th>Child's Name</th>
                                            <th>Date of birth</th>
                                            <th>Address</th>
                                            <th>Parent's contact</th>
                                            <th>Sex</th>
                                            <th>Added by</th>
                                            <th style="text-align:center">Actions</th>
                                        </tr>
                                    </thead>
                                    
                                    <tbody>
                                        
                                        {% for recs in admin_records %}
                                        <tr>
                                        
                                        <td>{{recs.child_name}}{{child_record.child_id}}</td>
                                        <td>{{recs.date_of_birth}}</td>
                                        <td>{{recs.address}}</td>
                                        <td>{{recs.contact}}</td>
                                        <td>{{recs.sex}}</td>
                                        <td>{{recs.added_by.first_name}} {{recs.added_by.last_name}}</td>
                                        <td style="text-align:center">
                                            <a href="{% url 'vaxapp:view_record_staff' recs.id %}" style="text-decoration:none">
                                                <button type="button" class="btn btn-success btn-sm">
                                                    View record
                                                </button>
                                                </a>
                                                <a href="{% url 'vaxapp:delete_child' recs.id %}" onclick="return confirm('Are you sure you want to delete this?');">
                                                    <button class="btn btn-danger btn-sm">Delete</button>
                                                </a>
                                        </td>
                                        </tr>
                                     
                                        {% empty %}
                                            <tr>
                                                <td colspan="9" style="text-align:center">No Records yet.</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">User's records(Guardian)</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            
                                    <thead>
                                        <tr>
                                            <th>Username</th>
                                            <th>First name</th>
                                            <th>Last name</th>
                                            <th>Email</th>
                                            <th>Contact</th>
                                            <th>Address</th>
                                            <th>Status</th>
                                            <th style="text-align:center">Actions</th>
                                        </tr>
                                    </thead>
                                    
                                    <tbody>
                                        {% for users in guardian %}
                                        <tr>
 
                                        <td>{{users.username}}</td>
                                        <td>{{users.first_name}}</td>
                                        <td>{{users.last_name}}</td>
                                        <td>{{users.email}}</td>
                                        <td></td>
                                        <td></td>
                                        <td>{% if users.is_active %}
                                            <p class="text-success">Active</p>
                                            {% else %}
                                            <p class="text-danger">Inactive</p>
                                            {% endif %}
                                        </td>
                                        <td style="text-align:center">
                                            <!-- Button trigger modal -->
                                            <button type="button" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#guardianmodal{{users.id}}">
                                                <i class="fas fa-solid fa-pen "></i> Edit
                                            </button>
                                            <!-- Modal -->
                                            <div class="modal fade" id="guardianmodal{{users.id}}" tabindex="-1" role="dialog" aria-labelledby="guardianmodallabel{{users.id}}" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="guardianmodallabel{{users.id}}">Update guardian's info</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <form method="post" action="{% url 'vaxapp:edit_guardian' users.id %}">
                                                            {% csrf_token %}
                                                            <div class="modal-body">
                                                                <div class="form-group">
                                                                    <label for="username">Username</label>
                                                                    <input type="text" class="form-control" id="username" name="username" value="{{ users.username }}">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="first_name">First Name</label>
                                                                    <input type="text" class="form-control" id="first_name" name="first_name" value="{{ users.first_name }}">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="last_name">Last Name</label>
                                                                    <input type="text" class="form-control" id="last_name" name="last_name" value="{{ users.last_name }}">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="email">Email</label>
                                                                    <input type="email" class="form-control" id="email" name="email" value="{{ users.email }}">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="is_active1">Active</label>
                                                                    <input type="radio" class="form-control" id="is_active1" name="is_active" value="True" required>
                                                                    <label for="is_active0">Inactive</label>
                                                                    <input type="radio" class="form-control" id="is_active0" name="is_active" value="False" required>
                                                                </div>
                                                                <!-- Add other fields as needed -->
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                                <button type="submit" class="btn btn-primary">Save changes</button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            <a href="{% url 'vaxapp:delete_user' users.id %}" onclick="return confirm('Are you sure you want to delete this?');">
                                                <button class="btn btn-danger btn-sm">Delete</button>
                                            </a>
                                        </td>
                                        </tr>
                                        {% empty %}
                                            <tr>
                                                <td colspan="9" style="text-align:center">No Records yet.</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Healthworker's records</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            
                                    <thead>
                                        <tr>
                                            <th>Username</th>
                                            <th>First name</th>
                                            <th>Last name</th>
                                            <th>Email</th>
                                            <th>Contact</th>
                                            <th>Address</th>
                                            <th>Status</th>
                                            <th style="text-align:center">Actions</th>
                                        </tr>
                                    </thead>
                                    
                                    <tbody>
                                        {% for worker in healthworker_list %}
                                        <tr>
 
                                        <td>{{worker.username}}</td>
                                        <td>{{worker.first_name}}</td>
                                        <td>{{worker.last_name}}</td>
                                        <td>{{worker.email}}</td>
                                        <td></td>
                                        <td></td>
                                        <td>{% if worker.is_active %}
                                            <p class="text-success">Active</p>
                                            {% else %}
                                            <p class="text-danger">Inactive</p>
                                            {% endif %}
                                        </td>
                                        <td style="text-align:center">
                                            <!-- Button trigger modal -->
                                            <button type="button" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#healthworkermodal{{worker.id}}">
                                                <i class="fas fa-solid fa-pen "></i> Edit
                                            </button>
                                            <!-- Modal -->
                                            <div class="modal fade" id="healthworkermodal{{worker.id}}" tabindex="-1" role="dialog" aria-labelledby="healthworkermodallabel{{worker.id}}" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="healthworkermodallabel{{worker.id}}">Update Healthworker's info</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <form method="post" action="{% url 'vaxapp:edit_healthworker' worker.id %}">
                                                            {% csrf_token %}
                                                            <div class="modal-body">
                                                                <div class="form-group">
                                                                    <label for="username">Username</label>
                                                                    <input type="text" class="form-control" id="username" name="username" value="{{ worker.username }}">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="first_name">First Name</label>
                                                                    <input type="text" class="form-control" id="first_name" name="first_name" value="{{ worker.first_name }}">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="last_name">Last Name</label>
                                                                    <input type="text" class="form-control" id="last_name" name="last_name" value="{{ worker.last_name }}">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="email">Email</label>
                                                                    <input type="email" class="form-control" id="email" name="email" value="{{ worker.email }}">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="is_active1">Active</label>
                                                                    <input type="radio" class="form-control" id="is_active1" name="is_active" value="True" required>
                                                                    <label for="is_active0">Inactive</label>
                                                                    <input type="radio" class="form-control" id="is_active0" name="is_active" value="False" required>
                                                                </div>
                                                                <!-- Add other fields as needed -->
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                                <button type="submit" class="btn btn-primary">Save changes</button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                            <a href="{% url 'vaxapp:delete_worker' worker.id %}" onclick="return confirm('Are you sure you want to delete this?');">
                                                <button class="btn btn-danger btn-sm">Delete</button>
                                            </a>
                                        </td>
                                        </tr>
                                        {% empty %}
                                            <tr>
                                                <td colspan="9" style="text-align:center">No Records yet.</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>


                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Barangay's records</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    
                                    
                                    <thead>
                                        <tr>
                                            <th>Barangay name</th>
                                            <th>Healthworkers</th>
                                            <th>Status</th>
                                            <th style="text-align:center">Actions</th>
                                        </tr>
                                    </thead>
                                    
                                    <tbody>
                                        {% for brgy in barangay_list %}
                                        <tr>
 
                                        <td>{{brgy.name}}</td>
                                        <td>{{brgy.healthworker}}</td>
                                        <td>{% if brgy.healthworker.is_active %}
                                            <p class="text-success">Active</p>
                                            {% else %}
                                            <p class="text-danger">Inactive</p>
                                            {% endif %}
                                        </td>
                                        <td style="text-align:center">
                                            <!-- Button trigger modal -->
                                            <button type="button" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#barangaymodal{{brgy.id}}">
                                                <i class="fas fa-solid fa-pen "></i> Edit
                                            </button>
                                            <!-- Modal -->
                                            <div class="modal fade" id="barangaymodal{{brgy.id}}" tabindex="-1" role="dialog" aria-labelledby="barangaylabel{{brgy.id}}" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="barangaylabel{{brgy.id}}">Update Barangay's info</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <form method="post" action="{% url 'vaxapp:edit_barangay' brgy.id %}">
                                                            {% csrf_token %}
                                                            <div class="modal-body">
                                                                <div class="form-group">
                                                                    <label for="name">Barangay Name</label>
                                                                    <input type="text" class="form-control" id="name" name="name" value="{{ brgy.name }}">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="healthworker">Assign Healthworker</label>
                                                                    <select class="form-control" id="healthworker" name="healthworker">
                                                                        <option value="{{ brgy.healthworker.id }}">{{ brgy.healthworker }}</option>
                                                                        {% for worker_list in healthworker_list %}
                                                                            <option value="{{ worker_list.username }}">{{ worker_list.username }}</option>
                                                                        {% endfor %}
                                                                        <option value="">None</option>
                                                                    </select>
                                                                </div>
                            
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                                <button type="submit" class="btn btn-primary">Save changes</button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                            <a href="{% url 'vaxapp:delete_brgy' brgy.id %}" onclick="return confirm('Are you sure you want to delete this?');">
                                                <button class="btn btn-danger btn-sm">Delete</button>
                                            </a>
                                        </td>
                                        </tr>
                                        {% empty %}
                                            <tr>
                                                <td colspan="9" style="text-align:center">No Records yet.</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Vaccines</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    
                    
                                    <thead>
                                        <tr>
                                            <th>Vaccine name</th>
                                            <th>Description</th>
                                            <th>First_dose</th>
                                            <th>Second_dose</th>
                                            <th>Third_dose</th>
                                            <th>Created</th>
                                            <th style="text-align:center">Actions</th>
                                        </tr>
                                    </thead>
                                    
                                    <tbody>
                                        {% for vax in vaccine_list %}
                                        <tr>
 
                                        <td>{{vax.name}}</td>
                                        <td>{{vax.description}}</td>
                                        <td> {% if vax.dose1 %}
                                           <i class="text-success"> &#x2713;</i>
                                        {% endif %}</td>
                                        <td>{% if vax.dose2 %}
                                            <i class="text-success"> &#x2713;</i>
                                        {% endif %}</td>
                                        <td>{% if vax.dose3 %}
                                            <i class="text-success"> &#x2713;</i>
                                        {% endif %}</td>
                                        <td>{{vax.created}}</td>
                                        <td style="text-align:center">
                                            <!-- Button trigger modal -->
                                            <button type="button" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#vaccinemodal{{vax.id}}">
                                                <i class="fas fa-solid fa-pen "></i> Edit
                                            </button>
                                             <!-- Modal -->
                                             <div class="modal fade" id="vaccinemodal{{vax.id}}" tabindex="-1" role="dialog" aria-labelledby="vaccinemodallabel{{vax.id}}" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="vaccinemodallabel{{vax.id}}">Update Vaccines's info</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <form method="POST" action="{% url 'vaxapp:edit_vaccine' vax.id %}">
                                                            {% csrf_token %}
                                                            <div style="text-align:center" class="row">
                                                                <div class="col">  
                                                                    <label for="vaxname">Vaccine name:</label>
                                                                    <input type="text" id="vaxname" name="name" value="{{vax.name}}" required>
                                                                </div>
                                                                <div class="col">  
                                                                    <label for="desc">Description of vaccine:</label>
                                                                    <input type="text" id="desc" name="description" value="{{vax.description}}">
                                                                </div>
                                                                <div class="col">  
                                                                    <label for="dose1">First dose:</label>
                                                                    <input type="checkbox"  name="chk1"  {% if vax.dose1 %} checked {% endif %} value="True">

                                                                    <input type="number" id="dose1" name="recommended_age1"  placeholder="{% if vax.recommended_age1 is not None %}{{vax.recommended_age1}} day(s) old{% endif %}" required>
                                                                </div>
                                                                <div class="col">  
                                                                    <label for="dose2">Second dose:</label>
                                                                    <input type="checkbox"  name="chk2"  {% if vax.dose2 %} checked {% endif %} value="True">
                                                                    <input type="number" id="dose2" name="recommended_age2"  placeholder="{% if vax.recommended_age2 is not None %}{{vax.recommended_age2}} day(s) old{% endif %}" >
                                                                </div>
                                                                <div class="col">  
                                                                    <label for="dose3">Third dose:</label>
                                                                    <input type="checkbox"  name="chk3"  {% if vax.dose3 %} checked {% endif %} value="True">
                                                                    <input type="number" id="dose3" name="recommended_age3" placeholder="{% if vax.recommended_age3 is not None %}{{vax.recommended_age3}} day(s) old{% endif %}" >
                                                                </div>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                                <input type="submit" class="btn btn-primary" value="Add">
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                            <a href="{% url 'vaxapp:delete_vaccine' vax.id %}" onclick="return confirm('Are you sure you want to delete this?');">
                                                <button class="btn btn-danger btn-sm">Delete</button>
                                            </a>
                                        </td>
                                        </tr>
                                        {% empty %}
                                            <tr>
                                                <td colspan="9" style="text-align:center">No Records yet.</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>


                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Vaxspace 2023</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Admin Profile -->
    <div class="modal fade" id="adminmodal" tabindex="-1" role="dialog" aria-labelledby="adminmodal" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="adminmodal">User profile</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body text-center">
                <div class="row">
                    <div class="col-md-6">
                        <h4>{{user.first_name}}</h4><sup>(First Name)</sup>
                        <h4>{{user.last_name}}</h4><sup>(Last Name)</sup>
                    </div>
                    <div class="col-md-6">
                        <h4>{{user.username}}</h4><sup>(Username)</sup>
                        <h4>{{user.email}}</h4><sup>(Email address)</sup>
                    </div>
                </div>
            </div>
            
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            
            </div>
        </div>
        </div>
    </div>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="{% url 'vaxapp:logout' %}">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'js/sb-admin-2.min.js' %}"></script>

    <!-- Page level plugins -->
    <script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'js/alert.js' %}"></script>
    <!-- Page level custom scripts -->
    <script src="{% static 'js/demo/datatables-demo.js' %}"></script>
    <script>
        $(document).ready(function () {
            $(".filterCheckbox").on("change", function () {
                var selectedFilters = [];
                $(".filterCheckbox:checked").each(function () {
                    selectedFilters.push($(this).val());
                });
    
                filterTable(selectedFilters);
            });
    
            function filterTable(selectedFilters) {
                $("#dataTable tbody tr").each(function () {
                    var row = $(this);
                    var showRow = false;
    
                    var columnIndex = 3; // Assuming the "Address" is in the third column
                    var searchText = row.find('td:nth-child(' + columnIndex + ')').text().toLowerCase();
    
                    // Check if the row contains any of the selected filters
                    selectedFilters.forEach(function (filter) {
                        if (searchText.indexOf(filter.toLowerCase()) !== -1) {
                            showRow = true;
                        }
                    });
    
                    if (selectedFilters.length > 0 && !showRow) {
                        row.hide();
                    } else {
                        row.show();
                    }
                });
            }
        });
    </script>

    
    
    
</body>

</html>