<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>VAXSPACE</title>

    <!-- Custom fonts for this template-->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
        href="{% static 'https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i' %}"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/alert.css' %}" rel="stylesheet">

</head>

<body class="bg-gradient-primary">
    {% include 'vaxapp/messages.html' %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4"><strong>CONFIRM VACCINATION</strong></h1>
                            </div>
                            <form method="POST" class="user text-gray-900" style="text-align:center;background-color:#eeeeee;opacity:90%;border-radius:5px;padding:10px">
                                {% csrf_token %}
                                <div style="text-align:center" class="row">
                                    <div class="col">
                                        <input type="hidden" name="child_id" value="{{confirm.child.id}}">
                                        <input type="hidden" name="brgy" value="{{confirm.child.address.id}}">
                                        <input type="hidden" name="birthheight" value="{{confirm.child.birth_height}}">
                                        <input type="hidden" name="birthweight" value="{{confirm.child.birth_weight}}">
                                        <input type="hidden" name="vax1" value="{{confirm.vax1}}">
                                        <input type="hidden" name="vax1_info" value="{{confirm.vax1_info}}">
                                        <input type="hidden" name="vax2" value="{{confirm.vax2}}">
                                        <input type="hidden" name="vax2_info" value="{{confirm.vax2_info}}">
                                        <input type="hidden" name="vax3" value="{{confirm.vax3}}">
                                        <input type="hidden" name="vax3_info" value="{{confirm.vax3_info}}">
                                        <input type="hidden" name="vaxdate" value="{{confirm.vax_date}}">
                                        <input type="hidden" name="dob" value="{{confirm.date_of_birth}}">
                                        <h4>{{confirm.child}}</h4><sup>Child's Name</sup>
                                        <hr class="sidebar-divider d-none d-md-block">
                                        <h5>{{confirm.vax1_info}} {{confirm.vax2_info}} {{confirm.vax3_info}}</h5><sup>Vaccines & Doses</sup>
                                        <hr class="sidebar-divider d-none d-md-block">
                                        <h5>{{confirm.vax_date}}</h5><sup>Vaccination date</sup>
                                        <hr class="sidebar-divider d-none d-md-block">
                                        <input type="text" name="b_height" placeholder="Previous height:{{confirm.child.birth_height}}cm" required><br><sup>Birth height</sup><br>
                                        <input type="text" name="b_weight" placeholder="Previous height:{{confirm.child.birth_weight}}lbs" required><br><sup>Birth weight</sup>
                                        <hr class="sidebar-divider d-none d-md-block">
                                        <input type="text" name="vaccinator" placeholder="Name of Vaccinator" required><br><sup>Vaccinator</sup><br>
                                        <input type="text" name="remarks" placeholder="Ex: Vaccinated, Missed, etc." required><br><sup>Remarks</sup>
                                    </div>
                                </div>
                                <br>
                                <div class="text-center">
                                    <a href="{% url 'vaxapp:tables' %}" class="btn btn-danger">Cancel</a>
                                    <input type="submit" class="btn btn-success" value="Confirm">
                                </div>
                            </form>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

  

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

    <!-- Bootstrap's built-in JS for dismissing alerts with fade -->
<script src="{% static 'js/alert.js' %}"></script>

</body>

</html>