<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/vaxspace_logo.png' %}">

    <title>VAXSPACE</title>

    <!-- Custom fonts for this template-->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/alert.css' %}" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

</head>

<body id="page-top">
    {% include 'vaxapp/messages.html' %}
    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'vaxapp:healthworker' %}">
                <div class="sidebar-brand-icon">
                    <img style="width:100%" src="{% static 'img/main_logo.png' %}">
                </div>
                <div class="sidebar-brand-text mx-3">VAXSPACE</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'vaxapp:healthworker' %}">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">


            <!-- Heading -->
            <div class="sidebar-heading">
                Menu
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
         

            <!-- Nav Item - Charts -->
            <li class="nav-item">
                <a class="nav-link" href="{% url 'vaxapp:charts' %}">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>Charts</span></a>
            </li>

            <!-- Nav Item - Tables -->
            <li class="nav-item">
                <a class="nav-link" href="{% url 'vaxapp:tables' %}">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Records & Schedules</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

         

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Search -->
                    <form
                        class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                                aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                            placeholder="Search for..." aria-label="Search"
                                            aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>

                     

                      
                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{% if user.is_authenticated %}
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Welcome, {{ user.username }}</span>
                                {% else %}
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Unauthaurized user</span>
                                {% endif %}
                                <img class="img-profile rounded-circle"
                                    src="{% static 'img/undraw_profile.svg' %}">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#healthworkermodal">       
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profile
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Dashboard of Barangay {{assign.name}} Health Center</h1>

                        <!-- Button trigger hyperlink -->
                       
         

                        <!-- Modal for children -->
                        <div class="modal fade" id="childregister" tabindex="-1" role="dialog" aria-labelledby="childregisterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header bg-gradient-primary">
                                <h5 class="modal-title text-gray-100" id="exampleModalLongTitle">CHILDREN REGISTRATION</h5>
                                <button type="button" class="close text-gray-100" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                </div>
                                <div class="modal-body">
                                    <form autocomplete="off" method="POST" action="">
                                        {% csrf_token %}
                                        <div class="row">
                                            <!-- First row of fields -->
                                            <div class="col-md-3">
                                                <input type="hidden" id="child_name" name="child_name">
                                                <label for="first_name">First Name:</label>
                                                <input type="text" id="first_name" name="first_name" class="form-control" required>
                                            </div>
                                    
                                            <div class="col-md-3">
                                                <label for="middle_name"><sup>Middle Name:</sup></label>
                                                <input type="text" id="middle_name" name="middle_name" placeholder="Optional" class="form-control">
                                            </div>
                                    
                                            <div class="col-md-3">
                                                <label for="last_name">Last Name:</label>
                                                <input type="text" id="last_name" name="last_name" class="form-control"  required>
                                            </div>
                                    
                                            <div class="col-md-3">
                                                <label for="suffix"><sup>Suffix:</sup></label>
                                                <input type="text" id="suffix" name="suffix" placeholder="ex.Jr.II,..." class="form-control">
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <!-- Second row of fields -->
                                            <div class="col-md-3">
                                                <label for="date_of_birth">Date of Birth:</label>
                                                <input type="date" id="date_of_birth" name="date_of_birth" class="form-control" required>
                                            </div>
                                    
                                            <div class="col-md-3">
                                                <label for="place_of_birth"><sup>Place of Birth:</sup></label>
                                                <input type="text" id="place_of_birth" name="place_of_birth" class="form-control" required>
                                            </div>
                                    
                                            <div class="col-md-3">
                                                <label for="address">ADDRESS:</label>
                                            <input type="hidden" name="address" value="{{assign.name}}">
                                            <h5>{{assign.name}}</h5>
                                            </div>
                                    
                                            <div class="col-md-3">
                                                <label for="contact">Contact:</label>
                                                <input type="number" id="contact" name="contact" class="form-control" required>
                                            </div>
                                        </div>
                                    
                                        <!-- Third row of fields -->
                                        <div class="row">
                                            <div class="col-md-3">
                                                <label for="mother_name">Mother's Name:</label>
                                                <input type="text" id="mother_name" name="mother_name" class="form-control" required>
                                            </div>
                                            
                                            <div class="col-md-3">
                                                <label for="father_name">Father's Name:</label>
                                                <input type="text" id="father_name" name="father_name" class="form-control" required>
                                            </div>
                                            
                                            
                                    
                                            <div class="col-md-3">
                                                <label for="birth_height">Birth Height(cm):</label>
                                                <input type="number" id="birth_height" name="birth_height" class="form-control" required>
                                            </div>
                                    
                                            <div class="col-md-3">
                                                <label for="birth_weight">Birth Weight(lbs):</label>
                                                <input type="number" id="birth_weight" name="birth_weight" class="form-control" required>
                                            </div>
                                        </div>
                                    
                                        <!-- Fourth row of fields -->
                                        <div class="row">
                                            <div class="col-md-3">
                                                <label for="sex">Sex:</label><br>
                                                <label for="male">Male</label>
                                                <input type="radio" id="male" name="sex" value="male" required>
                                                <label for="female">Female</label>
                                                <input type="radio" id="female" name="sex" value="female" required>
                                            </div>
                                        
                                            <div class="col-md-3">
                                                <label for="added_by">Assign to parent:</label>
                                                <select name="added_by" id="added_by" class="form-control" required>
                                                    <option value="{{user.id}}">{{user.first_name}} {{user.last_name}}(Healthworker)</option>
                                                    {% for assign in guardian %}
                                                    <option value="{{assign.id}}">{{assign.first_name}} {{assign.last_name}}</option>
                                                    {% endfor %}
                                                </select>
                                                
                                            </div>
                                        </div>
                                        <!-- Form footer -->
                                        <div class="row text-right">
                                            <div class="col">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                <input type="submit" class="btn btn-primary" value="Save">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                
                            </div>
                            </div>
                        </div>

                    </div>

                    <!-- Content Row -->
                    <div class="row">

                        <!-- cards -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
          
                                                REGISTERED CHILDREN</div>
                                                
                                            <div class="h3 mb-0 font-weight-bold text-gray-800">{{records_count}}</div>
                                        
                                        </div>
                                        <div class="col-auto">
                                            <!-- Button trigger modal -->
                                                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#childregister">
                                                    <i class="fas fa-solid fa-plus"></i><i class="fas fa-child fa-2x "></i>
                                                </button>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- cards -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                VACCINE</div>
                                            <div class="h3 mb-0 font-weight-bold text-gray-800">{{vax_count}}</div>
                                        </div>
                                        <div class="col-auto">
                                            
                                            <i class="fas fa-syringe fa-2x text-info"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- cards  -->
      
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-info shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">USERS
                                            </div>
                                            <div class="row no-gutters align-items-center">
                                                <div class="col-auto">
                                                    <div class="h3 mb-0 mr-3 font-weight-bold text-gray-800">{{user_count}}</div>
                                                </div>
                                                <div class="col">
                                             
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-user fa-2x text-info"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                      
                        <!-- Pending Requests Card Example -->

                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-warning shadow h-100 py-2">
                                
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                                SCHEDULES</div>
                                            <div class="h3 mb-0 font-weight-bold text-gray-800">{{sched_count}}</div>
                                        </div>
                                        <div class="col-auto">
                        
                                               <i class="fas fa-clipboard-list fa-2x text-warning"></i>
                                            
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
           

     
                    </div>

                    <!-- Content Row -->

                    <div class="row">

                        <!-- Area Chart -->
                        <div class="col-xl col-lg">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div class="card">
                                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                        <h6 class="m-0 font-weight-bold text-primary">Vaccination Overview</h6>
                                        
                                    </div>
                      
                                    
                                  
                                </div>
                            
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div id="myChart">
                                </div>
                            </div>
                        </div>

                        

                    <!-- Content Row -->
                    <div class="row">

                        <!-- Content Column -->
                        <div class="col-lg-6 mb-4">

                         

                        </div>

                        <div class="col-lg-6 mb-4">

                          

                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Vaxspace 2023</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
    <!-- Healthworker Profile -->
    <form method="post" action="{% url 'vaxapp:update_healthworker' %}">
        {% csrf_token %}
        <div class="modal fade" id="healthworkermodal" tabindex="-1" role="dialog" aria-labelledby="healthworkermodal" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="healthworkermodal">User Profile</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body text-center">
                        <div class="row">
                            <div class="col-md-6">
                                <label for="first_name">First Name</label>
                                <input type="text" id="first_name" name="first_name" value="{{ user.first_name }}">
                            </div>
                            <div class="col-md-6">
                                <label for="last_name">Last Name</label>
                                <input type="text" id="last_name" name="last_name" value="{{ user.last_name }}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label for="username">Username</label>
                                <input type="text" id="username" name="username" value="{{ user.username }}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label for="password">Password</label>
                                <input type="password" id="password" name="password" value="{{ user.password }}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label for="email">Email</label>
                                <input type="email" id="email" name="email" value="{{ user.email }}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <input type="checkbox" id="enableSaveButton"> Check to edit
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-warning" id="saveChangesBtn" disabled>Save Changes</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    
    

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="{% url 'vaxapp:logout' %}">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'js/sb-admin-2.min.js' %}"></script>

    <!-- Page level plugins -->
    <script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>

    <!-- Page level custom scripts -->
    <script src="{% static 'js/demo/chart-area-demo.js' %}"></script>
    <script src="{% static 'js/demo/chart-pie-demo.js' %}"></script>
    <script src="{% static 'js/alert.js' %}"></script>
    <script>
        $(document).ready(function() {
            $('#enableSaveButton').change(function() {
                if ($(this).is(':checked')) {
                    $('#saveChangesBtn').prop('disabled', false);
                } else {
                    $('#saveChangesBtn').prop('disabled', true);
                }
            });
        });
        </script>
        <script>
            var vaccineTypes = {{ vaccine_types | safe }};
            var vaccinatedCounts = {{ vaccinated_counts | safe }};
            var nonVaccinatedCounts = {{ non_vaccinated_counts | safe }};
    
            var trace1 = {
                x: vaccineTypes,
                y: vaccinatedCounts,
                type: 'bar',
                name: 'Vaccinated',
                marker: {
                    color: 'rgba(54, 162, 235, 0.5)',
                    line: {
                        color: 'rgba(54, 162, 235, 1)',
                        width: 1
                    }
                }
            };
    
            var trace2 = {
                x: vaccineTypes,
                y: nonVaccinatedCounts,
                type: 'bar',
                name: 'Non-Vaccinated',
                marker: {
                    color: 'rgba(255, 99, 132, 0.5)',
                    line: {
                        color: 'rgba(255, 99, 132, 1)',
                        width: 1
                    }
                }
            };
    
            var data = [trace1, trace2];
    
            var layout = {
                title: 'Overall Vaccination Graph',
                xaxis: {
                    title: 'Vaccine Types'
                },
                yaxis: {
                    title: 'Number of Children'
                },
                barmode: 'group'
            };
    
            Plotly.newPlot('myChart', data, layout);
        </script>
        <script>
            function capitalizeFirstLetter(string) {
                return string.charAt(0).toUpperCase() + string.slice(1);
            }
            function updateChildName() {
                var firstName = document.getElementById('first_name').value;
                var middleName = document.getElementById('middle_name').value;
                var lastName = document.getElementById('last_name').value;
                var suffix = document.getElementById('suffix').value;
                
                firstName = firstName.toLowerCase().split(' ').map(capitalizeFirstLetter).join(' ');
                middleName = middleName.toLowerCase().split(' ').map(capitalizeFirstLetter).join(' ');
                lastName = lastName.toLowerCase().split(' ').map(capitalizeFirstLetter).join(' ');
                suffix = suffix.toLowerCase().split(' ').map(capitalizeFirstLetter).join(' ');

                var fullName = firstName + ' ' + (middleName ? middleName + ' ' : '') + lastName + ' ' + (suffix ? suffix : '');
                
                document.getElementById('child_name').value = fullName;
            }
        
            // You can call updateChildName() function whenever there's a change in any of the name fields.
            document.getElementById('first_name').addEventListener('input', updateChildName);
            document.getElementById('middle_name').addEventListener('input', updateChildName);
            document.getElementById('last_name').addEventListener('input', updateChildName);
            document.getElementById('suffix').addEventListener('input', updateChildName);
        </script>
        
</body>

</html>