<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/vaxspace_logo.png' %}">

    <title>VAXSPACE</title>

    <!-- Custom fonts for this template -->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/sb-admin-2.min.css '%}" rel="stylesheet">
    <link href="{% static 'css/alert.css' %}" rel="stylesheet">
    <!-- Custom styles for this page -->
    <link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">

</head>

<body id="page-top">
    {% include 'vaxapp/messages.html' %}
    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                <div class="sidebar-brand-icon">
                    <img style="width:100%" src="{% static 'img/main_logo.png' %}">
                </div>
                <div class="sidebar-brand-text mx-3">VAXSPACE</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item">
                <a class="nav-link" href="{% url 'vaxapp:healthworker' %}">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Menu
            </div>

            <!-- Nav Item - Pages Collapse Menu -->


            <!-- Nav Item - Charts -->
            <li class="nav-item">
                <a class="nav-link" href="{% url 'vaxapp:charts' %}">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>Charts</span></a>
            </li>

            <!-- Nav Item - Tables -->
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'vaxapp:tables' %}">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Records & Schedules</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <form class="form-inline">
                        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                            <i class="fa fa-bars"></i>
                        </button>
                    </form>

                   
                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                            placeholder="Search for..." aria-label="Search"
                                            aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>

                       

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{% if user.is_authenticated %}
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Welcome, {{ user.username }}</span>
                                {% else %}
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Unauthaurized user</span>
                                {% endif %}
                                <img class="img-profile rounded-circle"
                                    src="{% static 'img/undraw_profile.svg' %}">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#healthworkermodal">       
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profile
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-4 text-gray-800">Records of Barangay {{assign.name}} Health Center</h1>
                   
                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Children's record </h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Child's Name</th>
                                            <th>Date of birth</th>
                                            <th>Current age</th>
                                            <th>Parent's contact</th>
                                            <th>Sex</th>
                                            <th>Added by</th>
                                            <th style="text-align:center">Actions</th>
                                        </tr>
                                    </thead>
                                   
                                    <tbody>
                                        {% for recs in records %}
                                        <tr>
 
                                        <td>{{recs.child_name}}</td>
                                        <td>{{recs.date_of_birth}}</td>   
                                        <td>{{recs.days_old}}</td>
                                        <td>{{recs.contact}}</td>
                                        <td>{{recs.sex}}</td>
                                        <td>{{recs.added_by.first_name}} {{recs.added_by.last_name}}</td>
                                        <td style="text-align:center">
                                            <a href="{% url 'vaxapp:view_record_staff' recs.id %}" style="text-decoration:none">
                                                <button type="button" class="btn btn-primary btn-sm">
                                                    View record
                                                </button>
                                            </a>
                                           {% if recs.vaccine_doses %}
                                                <a href="{% url 'vaxapp:add_record' recs.id %}" style="text-decoration:none">
                                                    <button id="add" class="btn btn-success btn-sm">Available vaccines</button>
                                                </a>
                                            {% endif %}
                                            <a href="{% url 'vaxapp:remove_child' recs.id %}" onclick="return confirm('Are you sure you want to delete this?');">
                                                <button class="btn btn-danger btn-sm">Delete</button>
                                            </a>
                                            
                                        </td>
                                        </tr>
                                        {% empty %}
                                            <tr>
                                            <td colspan="9" style="text-align:center">No Records yet.</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <!-- Page Heading -->
                    <h1 class="h3 mb-4 text-gray-800">Schedules</h1>

                     <!-- Added to schedule -->
                     <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Scheduled for vaccination</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Child's Name</th>
                                            <th>Vaccine name & Doses</th>                         
                                            <th>Vaccination date</th>
                                            <th>Contact</th>
                                            <th>Remarks</th>
                                            <th style="text-align: center;">Actions</th>
                                        </tr>
                                    </thead>
                                    
                                    <tbody>
                                        {% for sched in vax_sched %}
                                        <tr>
                                            <td>{{ sched.child }}</td>
                                            <td>{{ sched.vax1.name }} {{ sched.vax1_info }} {{ sched.vax2.name }} {{ sched.vax2_info }} {{ sched.vax3.name }} {{ sched.vax3_info }}</td>
                                            <td>{{ sched.vax_date }}</td>
                                            <td>{{sched.child.contact}}</td>
                                            <td>
                                                {% if due_today == sched.vax_date.date %}
                                                    <span class="text-success">Due today</span>
                                                {% elif due_today < sched.vax_date.date %}
                                                    <span class="text-warning">Pending</span>
                                                {% else %}
                                                    <span class="text-danger">Missed</span>
                                                {% endif %}
                                            </td>
                                            <td style="text-align:center">
                                                {% if due_today == sched.vax_date.date %}
                                                <button type="button" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#editmodal{{ sched.id }}">
                                                    Edit
                                                </button>
                                                <!-- Modal -->
                                                <div class="modal fade" id="editmodal{{ sched.id }}" tabindex="-1" role="dialog" aria-labelledby="editmodallabel{{ sched.id }}" aria-hidden="true">
                                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                        <h5 class="modal-title" id="editmodallabel{{ sched.id }}">Update this schedule? {{ sched.vax_date }}</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                        </div>
                                                        <div class="modal-body">
                                                        <form method="post" action="{% url 'vaxapp:edit_schedule' sched.id %}">
                                                                {% csrf_token %}
                                                        
                                                                <input type="datetime-local" name="update_sched" required>

                                                        <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                        <button type="submit" class="btn btn-primary">Save changes</button>
                                                        </div>
                                                        </form>
                                                        </div>
                                                        
                                                    </div>
                                                    </div>
                                                </div>
                                                    <a href="{% url 'vaxapp:confirmation' sched.id %}"><button class="btn btn-success btn-sm">Confirm</button></a>
                                                {% elif due_today < sched.vax_date.date %}
                                                <!-- Button trigger modal -->
                                                <button type="button" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#editmodal{{ sched.id }}">
                                                    Edit
                                                </button>
                                                <!-- Modal -->
                                                <div class="modal fade" id="editmodal{{ sched.id }}" tabindex="-1" role="dialog" aria-labelledby="editmodallabel{{ sched.id }}" aria-hidden="true">
                                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                        <h5 class="modal-title" id="editmodallabel{{ sched.id }}">Update this schedule? {{ sched.vax_date }}</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                        </div>
                                                        <div class="modal-body">
                                                        <form method="post" action="{% url 'vaxapp:edit_schedule' sched.id %}">
                                                                {% csrf_token %}
                                                        
                                                                <input type="datetime-local" name="update_sched" required>

                                                        <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                        <button type="submit" class="btn btn-primary">Save changes</button>
                                                        </div>
                                                        </form>
                                                        </div>
                                                        
                                                    </div>
                                                    </div>
                                                </div>
                                                                                   
                                                {% else %}
                                                
                                                <button type="button" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#reschedmodal{{ sched.id }}">
                                                    Reschedule
                                                </button>
                                                <a href="{% url 'vaxapp:confirmation' sched.id %}"><button class="btn btn-danger btn-sm">Missed</button></a>
                                                <!-- Modal -->
                                                <div class="modal fade" id="reschedmodal{{ sched.id }}" tabindex="-1" role="dialog" aria-labelledby="reschedlabel{{ sched.id }}" aria-hidden="true">
                                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                        <h5 class="modal-title" id="reschedlabel{{ sched.id }}">Reschedule</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                        </div>
                                                        <div class="modal-body">
                                                        <form method="post" action="{% url 'vaxapp:edit_schedule' sched.id %}">
                                                                {% csrf_token %}
                                                                <input type="datetime-local" name="update_sched" required>
                                                        <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                        <button type="submit" class="btn btn-primary">Save changes</button>
                                                        </div>
                                                        </form>
                                                        </div>
                                                        
                                                    </div>
                                                    </div>
                                                </div>
                                                {% endif %}
                                                <a href="{% url 'vaxapp:remove_sched' sched.id %}" onclick="return confirm('Are you sure you want to remove this item?');">
                                                    <button class="btn btn-danger btn-sm">Remove</button>
                                                </a>
                                            </td>
                                        </tr>
                                    {% empty %}
                                        <tr>
                                            <td colspan="6" style="text-align:center">No schedule yet.</td>
                                        </tr>
                                    {% endfor %}
                                    

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Vaxspace 2023</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Healthworker Profile -->
    <div class="modal fade" id="healthworkermodal" tabindex="-1" role="dialog" aria-labelledby="healthworkermodal" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="healthworkermodal">User profile</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body text-center">
                <div class="row">
                    <div class="col-md-6">
                        <h4>{{user.first_name}}</h4><sup>(First Name)</sup>
                        <h4>{{user.last_name}}</h4><sup>(Last Name)</sup>
                    </div>
                    <div class="col-md-6">
                        <h4>{{user.username}}</h4><sup>(Username)</sup>
                        <h4>{{user.email}}</h4><sup>(Email address)</sup>
                    </div>
                </div>
            </div>
            
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
           
            </div>
        </div>
        </div>
    </div>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="{% url 'vaxapp:logout' %}">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'js/sb-admin-2.min.js' %}"></script>

    <!-- Page level plugins -->
    <script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

    <!-- Page level custom scripts -->
    <script src="{% static 'js/demo/datatables-demo.js' %}"></script>

        <!-- Bootstrap's built-in JS for dismissing alerts with fade -->
<script src="{% static 'js/alert.js' %}"></script>


</body>

</html>